# ~/.aliases is sourced from ~/.bashrc or ~/.zshrc

# Colorized apache watching
alias apachewatch='sudo grc tail -f /var/log/apache2/access.log'
alias indywatch='sudo grc tail -f /var/log/apache2/indythegeek/access.log'
alias weddingwatch='sudo grc tail -f /var/log/apache2/sashaindy/access.log'

# makes text red and surrounds it with character returns
echored()
{
    echo -e "\n\e[1;31m$1\e[0m\n"
}
